{% extends "partials/_base.html" %}
{% load i18n %}
{% load static %}

{% block title %} 404 Sayfa Bulunamadı {% endblock %}

{% block content %}

    <style>
        footer {
            display: none;
        }
    </style>

    <section class="error-404-section section-padding mt-5" style="background-image: url({% static 'assets/images/404.jpg' %}); background-size: cover; background-position: center center; height: 100vh; display: flex; justify-content: center; align-items: flex-end;">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="content clearfix" style="margin-top: -100px;">
                        <h3 style="color: black; font-size: 36px; font-weight: bold;">{% trans "Ups! Sayfa Bulunamadı!" %}</h3>
                        <div class="error-message" style="text-align: center; padding-bottom: 20px;">
                            <a href="{% url 'base:index' %}" class="theme-btn" style="color: black; font-size: 18px;">{% trans "Ana Sayfaya Geri Dön" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}