{% extends "partials/_base.html" %}
{% load static %}

{% block title %} Hakkımızda {% endblock %}

{% block content %}

    <div class="wpo-breadcumb-area" style="background-image: url({{ bunner.about_img.url }})">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wpo-breadcumb-wrap">
                        <h2>{{ bunner.about_title }}</h2>
                        <ul>
                            <li><a href="{% url 'base:index' %}">Ana Sayfa</a></li>
                            <li><span>{{ bunner.about_title }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="about-section">
        <div class="container">
            <div class="wrap">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <video loop="" muted="" autoplay="" playsinline="" width="100%" style="border-radius: 20px;">
                            <source src="{{ about.video.url }}" type="video/mp4">
                        </video>
                    </div>

                     <div class="col-12">
                        <div class="content" style="padding: 25px 40px;">
                            <div class="section-title">
                                <h2>Hakkımızda</h2>
                                <h3>{{ about.title }}</h3>
                                <p style="padding-right: 0px;">{{ about.description|safe }}</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pillars-section section-padding" style="background: url({% static 'assets/images/bg.png' %});">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-12">
                    <div class="section-title">
                        <h2>İslamın Şartları</h2>
                        <h3>İslamın 5 şartı var</h3>
                    </div>
                </div>
            </div>
            <div class="pillars-wrap">
                <div class="pillars-slider">
                    {% for item in conditions %}
                        <div class="pillars-card {% if forloop.counter0|divisibleby:2 %}up-and-down-1{% else %}up-and-down-2{% endif %}">
                            <div class="image">
                                <a href="{{ item.image.url }}" class="fancybox" data-fancybox-group="gall-1">
                                    <img src="{{ item.image.url }}" style="height: 170px;" alt="pillars" class="img img-responsive">
                                    <div class="popup-icon">
                                        <i class="ti-plus"></i>
                                    </div>
                                </a>
                            </div>
                            <h2>
                                {{ item.title }}
                            </h2>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}