{% extends "partials/_base.html" %}
{% load static %}

{% block title %} {{ banners.galery.title }} {% endblock %}

{% block content %}

    {% if banners.galery %}
        <div class="wpo-breadcumb-area" style="background-image: url({{ banners.galery.image }})">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>{{ banners.galery.title }}</h2>
                            <ul>
                                <li><a href="{% url 'base:index' %}">Ana Sayfa</a></li>
                                <li><span>{{ banners.galery.title }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <section class="gallery-images my-5">
        <div class="container my-5">
            
            <div class="row justify-content-center">
                <div class="col-lg-7 col-12">
                    <div class="section-title">
                        <h3 style="color: #DB9E2F;">Galeri</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                {% if page_obj %}
                    {% for item in page_obj %}
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4" style="margin: -8px;">
                            <a href="{{ item.image.url }}" class="fancybox" data-fancybox-group="gall-1" >
                                <img src="{{ item.image.url }}" class="img-fluid" alt="pillars" style="height: 350px; width: 100%; border-radius: 10px;">
                                <i class="fa-solid fa-magnifying-glass-plus"></i>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning" role="alert" style="background-color: #FFF3CD; color: #856404; border: 1px solid #ffeeba; padding: 15px; border-radius: 5px; font-size: 16px; display: flex; align-items: center; justify-content: center; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
                        <i class="fa fa-exclamation-circle" style="margin-right: 10px; font-size: 20px;"></i> 
                        Henüz resim ilave olunmayıb
                    </div>
                {% endif %}

            </div>

            <div class="pagination-wrapper">
                <ul class="pg-pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <i class="fi ti-angle-left"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="" aria-label="Previous">
                                <i class="fi ti-angle-left"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="active"><a href="#">{{ num }}</a></li>
                        {% else %}
                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <i class="fi ti-angle-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#" aria-label="Next">
                                <i class="fi ti-angle-right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </section>

{% endblock %}