{% load static %}
    
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ seo_model.description }}">
<meta name="keywords" content="{{ seo_model.keywords }}">
<meta name="robots" content="index, follow">
<meta property="og:title" content="{{ seo_model.title }}">
<meta property="og:description" content="{{ seo_model.description }}">
<meta property="og:image" content="{{ seo_model.image.url }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ seo_model.title }}">
<meta name="twitter:description" content="{{ seo_model.description }}">
<meta name="twitter:image" content="{{ seo_model.image.url }}">
<meta name="twitter:site" content="{{ seo_model.twitter_handle }}">